# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Bb]uild*/
[Ll]ogs/
[Oo]bj/
[Bb]in/
UserSettings/

# Rider / VS / VSCode files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
.vscode/
.idea/
.vs/

# OS files
.DS_Store
Thumbs.db
